@import 'tailwindcss';

@theme {
  --color-*: initial;
  --color-white: #fff;
  --color-black: #000;
  --color-background-400: #e4ede3;
  --color-background-000: #f8f8f8;
  --color-foreground-400: #004d61;
  --color-foreground-000: #dee9ea;
  --color-highlight: #ff5031;
}
